# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Derived content-obscured files
*.p

# Compiled MEX files
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
slprj/
sccprj/
codegen/

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag

# buildtool cache folder
.buildtool/

# SimBiology backup files
*.sbproj.backup
*.sbproj.bak
*.rec
temp*
archive/cvap.m
archive/cvbpr.m
archive/cvbuf.m
archive/cvcd.m
archive/cvconfigfile.m
archive/cvdraw.m
archive/cvexp.m
archive/cvexp2ims.m
archive/cvfl.m
archive/cvims2exp.m
archive/cvint.m
archive/cvrgridpol.m
archive/cvsd.m
archive/cvwav.m
